USE [M3Cord]
GO
/****** Object:  Table [MC1StTwist]    Script Date: 4/4/2023 20:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MC1StTwist](
	[MCId] [int] IDENTITY(1,1) NOT NULL,
	[MCCode] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[NoOfCore] [int] NOT NULL,
	[SheetPerCore] [int] NOT NULL,
 CONSTRAINT [PK_MC1StTwist] PRIMARY KEY CLUSTERED 
(
	[MCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [MC1StTwist] ADD  CONSTRAINT [DF_MC1StTwist_NoOfCore]  DEFAULT ((0)) FOR [NoOfCore]
GO
ALTER TABLE [MC1StTwist] ADD  CONSTRAINT [DF_MC1StTwist_SheetPerCore]  DEFAULT ((0)) FOR [SheetPerCore]
GO
